:root{
    --accent-color:#2196F3;
    --accent-hover:#188CE8;
    --dark-font: #000000;
    --dark-bg:#00000033;
    --light-font:#ffffff;
    --lightness-back:#f5f4fa;
    --font-color:#212121;
    --contact-color:#757575;
    --bg-color:#2F303A;
    --footer-link:rgba(255, 255, 255, 0.6);
    --footer-soclink:rgba(255, 255, 255, 0.1);
    --icon-fill: #afb1b8;
    --time-func:cubic-bezier(0.4, 0, 0.2, 1);
}
/* Global styles */
body{
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
    font-size: 14px;
    line-height: 1.46;
}
ul, h1{
    padding: 0;
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
svg {
    fill: currentColor;
    --color1: #212121;
    --color2: #2196f3;
}
/* Styles for header  */
.header{
    font-weight: 500;
    line-height: calc(16.41/14);
    letter-spacing: calc(14px*0.02);
    border-bottom: 1px solid #ECECEC;
}
.list{
    list-style: none;
}
.contact-link, .navigation-link, .logo{
    text-decoration: none;
    color: inherit;
}
.header .contact-link{
    color: var(--contact-color);
    display: flex;
    align-items: center;
    transition: color 250ms var(--time-func);
}
.header .contact-link, .navigation-link{
    padding: 32px 0;
}
.navigation-link{
    display: block;
    position: relative;
    transition: color 250ms var(--time-func);
}
.contact-link > svg {
    margin-right: 10px;
}
.logo{
    font-family: 'Raleway', sans-serif;;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(30.52/26);
    color: var(--accent-color);
    letter-spacing: calc(26px*0.03);
}
.header .logo{
    padding: 24px 0;
}
.header .sub-logo{
    color: var(--dark-font);
}
.navigation{
    margin-right: auto;
    margin-left: 93px;
}
.navigation-item{
    margin: 0 25px;
}
.navigation-item:first-child, .header .contact-item:first-child, .about:first-child, .filter:first-child{
    margin-left: 0;
}
.navigation-item:last-child, .header .contact-item:last-child, .about:last-child, .filter:last-child{
    margin-right: 0;
}
.header .contact-item{
    margin: 0 25px;
}

/* Studio main styles */
.hero{
    background-color: var(--bg-color);
    color: var(--light-font);
    padding: 200px 0;
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herooverlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section .heading{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42.19/36);
}
.hero .container{
    text-align: center;
}
.hero .heading{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: calc(44px*0.06);
    line-height: calc(60/44);
    margin-bottom: 30px;
}
.hero .button{
    color: inherit;
    background-color: var(--accent-color);
    font-weight: 700;
    letter-spacing: calc(16px*0.06);
    line-height: calc(30/16);
    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button{
    border: none;
    font-size: 16px;
    font-family: inherit;
    transition: background-color 250ms var(--time-func);
}
.button:hover, .button:focus{
    background-color:var(--accent-hover);
    cursor: pointer;
    outline: none;
}
.section{
    padding: 94px 0;
}
.padding-bot-0{
padding-bottom: 0;
}
.padding-bot-0 .icon{
    background-color: var(--lightness-back);
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-mod{
    background-color: var(--lightness-back);
}
.heading{
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}
.about-description{
    position: relative;
}
.about-title{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: var(--light-font);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    opacity: 0.8;
    margin: 0;
    text-transform: uppercase;
}
.title{
    margin-top: 0;
    text-transform: uppercase;
    font-size: inherit;
    line-height: calc(16.41/14);
}
.description{
    line-height: calc(24/14);
    color: var(--contact-color);
}
.worker-name, .profession{
    font-size: 16px;
    line-height: calc(18.75/16);
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}
.profession{
    font-weight: 400;
    color: var(--contact-color);
    margin-bottom: 16px;
}
.team-about{
    text-align: center;
    padding: 30px 0;
}
.social-list {
    display: flex;
    justify-content: center;
    margin: 0 -10px;
}
.social-item{
    margin: 0 5px;
}
.social-link:hover, .social-link:focus {
    background-color: var(--accent-color);
    color: var(--light-font);
    outline: none;
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: var(--icon-fill);
    transition: background-color 250ms var(--time-func), color 250ms var(--time-func);
}
.client-link{
    color: var(--icon-fill);
    border: 1px solid var(--icon-fill);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    transition: border 250ms var(--time-func), color 250ms var(--time-func);
}

.client-link:hover, .client-link:focus{
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    outline: none;
}
/* Portfolio main styles */
.list.filters{
    justify-content: center;
    margin-bottom: 50px;
}
.filter{
    margin: 0 4px;
}
.filters .button{
    background-color: var(--lightness-back);
    font-weight: 500;
    line-height: calc(26/16);
    border-radius: 5px;
    padding: 6px 22px;
    transition: background-color 250ms var(--time-func), color 250ms var(--time-func), box-shadow 250ms var(--time-func);
}
.filters .button:hover,.filters .button:focus, .filters .active{
    background-color: var(--accent-color);
    color: var(--light-font);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
}
.projects{
    flex-wrap: wrap;
    margin: -15px;
}
.project-item{
    margin: 15px;
}
.project-link:hover, .project-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}
.project-about{
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 24px;
}
.project-name{
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: calc(18px*0.06);
    margin: 0;
}
.project-link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    transition: box-shadow 250ms var(--time-func);
}
.project-type{
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--contact-color);
    margin: 4px 0 0;
}
.project-desc{
    position: relative;
    overflow: hidden;
}
.description-text{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    opacity: 0.9;
    padding: 63px 24px;
    color: var(--light-font);
    font-size: 18px;
    line-height: calc(28/18);
    transform: translateY(100%);
    margin: 0;
    transition: transform 250ms var(--time-func);
}
.project-link:hover .description-text{
    transform: translateY(0%);
}
/* Footer styles */
.footer{
    background-color: var(--bg-color);
    padding: 60px 0;
}
.footer .logo{
    margin-bottom: 20px;
    display: inline-block;
}
.footer .contact-item{
    line-height: calc(21/14);
}
.footer .contact-item:nth-child(2){
    margin: 9px 0;
}
.footer .sub-logo, .address-info{
    color: var(--light-font);
}
.address-info{
    font-style: normal;
}
.footer .contact-link{
    color: var(--footer-link);
    transition: color 250ms var(--time-func);
}
.social-link{
    background-color: var(--footer-soclink);
}
.footer .social-link{
    color: var(--light-font);
}
.footer .list{
    display: block;
}
.footer .social-list{
    display: flex;
    padding: 0;
    margin: 0;
}
.footer .social-item{
    margin: 0 10px 0 0;
}
.footer-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--light-font);
    margin-bottom: 20px;
}
.current, .contact-link:hover, .contact-link:focus, .navigation-link:hover, .navigation-link:focus{
    color: var(--accent-color);
    outline: none;
}
.current::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
    background-color: var(--accent-color);
}
.padding-bot-0 .list{
    margin: -15px;
}
.padding-bot-0 .about{
    width: calc(100% / 4 - 30px);
}
.header .container, .list, .footer .container{
    display: flex;

}

.footer-coll{
    margin-right: 70px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.team-card{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
    background-color: var(--light-font);
}
.about{
    margin: 15px;
}
/* Modal style */
.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal-container{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg);
    transition: opacity 250ms var(--time-func);
}
.is-hidden .modal-content{
    transform: scale(0.5);
}
.modal-content{
    margin: auto;
    position: relative;
    width: 528px;
    height: 581px;
    background-color: var(--light-font);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1);
    transition: transform 250ms var(--time-func);
}
.modal-close{
    position:absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--light-font);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}